<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head') %>
  </head>
  <body>
<%- include('include/header') %>
<%- include('include/aside') %>
    <main>
      <h1>ERROR 404:PAGE NOT FOUND</h1>
      <p>
        Unfortunately, we were anable to find this page.
      </p>
    
    </main>
  </body>
</html>
