<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include/head') %>
  </head>
  <body>
<%- include('include/header') %>
<%- include('include/aside') %>
    <main>
      <h1>Something went wrong</h1>
      <p>
        Unfortunately, Something went wrong on the server, we're doing our best to fix it as .
      </p>
    
    </main>
  </body>
</html>
